attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
decorator==4.4.2
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
jsonschema==3.2.0
lxml==4.5.0
netaddr==0.7.19
parsel==1.5.2
Protego==0.1.16
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
queuelib==1.5.0
requests==2.23.0
selenium==3.141.0
self==2019.4.13
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8
validator-collection==1.4.1
validators==0.15.0
w3lib==1.21.0
zope.interface==5.1.0
